.banner-container {
    background-color: #207130;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.banner-text-container {
    display: flex;
    flex-direction: row;
    padding-bottom: 1em;
    padding-left: 8em;
    padding-right: 1em;
    padding-top: 3em;
    margin: 0;
}

.banner-head {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.grade-title-container {
    color: white;
    justify-content: space-between;
    margin-top: 0;
    padding-right: 0.4em;
    text-align: center;
    position: relative;
    bottom: 0.5em;
}

.grade-banner {
    font-family: 'Gilroy Bold';
    font-size: 0.5em;
    margin: 0;
    margin-bottom: 0.5em;
    position: relative;
}

.grade-number {
    display: flex;
    flex-direction: column;
    font-family: 'Gilroy Extra Bold';
    font-size: 2.25em;
    line-height: 0.3em;
    margin-bottom: 0;
    margin-top: 0.25em;
    padding: 0;
    text-align: center;
}

.banner-title-container {
    display: flex;
    flex-direction: column-reverse;
}

.banner-title {
    color: white;
    font-family: 'Gilroy Extra Bold';
    font-size: 1.75em;
    margin: 0;
    padding: 0;
    padding-top: 0.3em;
}
